[wrapper] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
[board] {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, rgba(238, 119, 82, 0.4), rgba(231, 60, 126, 0.4), rgba(35, 166, 213, 0.4), rgba(35, 213, 171, 0.4));
  figure {
    width: 30%;
    img{
      width: 100%;
      height: auto;
    }
    figcaption{
      text-align: center;
    }
  }
}