<ul class="skill-list">
  <h2>Meus níveis de pajelança</h2>
  <li class="skill">
    <h3>Aprendizagem</h3>
    <progress class="skill-1" max="100" value="100"></progress>
  </li>
  <li class="skill">
    <h3>Pesquisa no google</h3>
    <progress class="skill-1" max="100" value="95"></progress>
  </li>
  <li class="skill">
    <h3>JavaScript</h3>
    <progress class="skill-1" max="100" value="70"></progress>
  </li>
  <li class="skill">
    <h3>Angular 2+</h3>
    <progress class="skill-1" max="100" value="80"></progress>
  </li>
  <li class="skill">
    <h3>HTML5</h3>
    <progress class="skill-1" max="100" value="80"></progress>
  </li>
  <li class="skill">
    <h3>SCSS</h3>
    <progress class="skill-1" max="100" value="70"></progress>
  </li>
  <li class="skill">
    <h3>CSS3</h3>
    <progress class="skill-1" max="100" value="70"></progress>
  </li>
</ul>