<section id="conference-timeline">
  <div class="timeline-start">1995</div>
  <div class="conference-center-line"></div>
  <div class="conference-timeline-content">
    <div class="timeline-article">
      <div class="content-left-container">
        <div class="content-left">
          <p>Nasci em São Paulo e desde então morei em Guarulhos.</p>
        </div>
      </div>
      <div class="meta-date">
        <span class="month">SET</span>
      </div>
    </div>
    <div class="timeline-article">
      <div class="content-right-container">
        <div class="content-right">
          <p>Me mudei para São Vicente com meus avós.</p>
        </div>
      </div>
      <div class="meta-date">
        <span class="month">2010</span>
      </div>
    </div>
    <div class="timeline-article">
      <div class="content-left-container">
        <div class="content-left">
          <p>Conheci a mulher da minha vida.</p>
        </div>
      </div>
      <div class="meta-date">
        <span class="month">2015</span>
      </div>
    </div>
    <div class="timeline-article">
      <div class="content-left-container">
        <div class="content-left">
          <p>Realizei um sonho de fazer intercâmbio para estudar inglês em Malta.</p>
        </div>
      </div>
      <div class="content-right-container">
        <div class="content-right">
          <p>Voltei a morar em Guarulhos.</p>
        </div>
      </div>
      <div class="meta-date">
        <span class="month">2019</span>
      </div>
    </div>
  </div>
  <div class="timeline-end">{{ currentYear }}</div>
</section>