[engineering] {
  display: flex;
  flex-direction: column;
  app-avatar{
    &:first-child{
      margin-left: 9rem;
      margin-bottom: -2.5rem;
    }
    &:last-child{
      margin-top: -5rem;
      margin-left: 6rem;
    }
  }
}